<section class="contacts">
  <div class="contacts__title-wrap">
    <h2>Контакты</h2>
  </div>
  <ul class="list-reset contacts__list">
    <li class="contacts__item">
      <h3>Адрес</h3>
      <p>г. Кропоткин ул. Дугинец 10а</p>
    </li>
    <li class="contacts__item contacts__item--2">
      <h3>Телефон</h3>
      <a href="tel:89183650607">+7&nbsp;(918)&nbsp;365&nbsp;06&nbsp;07</a>
    </li>
    <li class="contacts__item">
      <h3>E-mail</h3>
      <a href="mailto:pilatesplus@gmail.com">pilatesplus@gmail.com</a>
    </li>
  </ul>
</section>
