<section class="contacts" id="contacts">
  <div class="contacts__title-wrap">
    <h2>Контакты</h2>
  </div>
  <ul class="list-reset contacts__list">
    <li class="contacts__item">
      <h3>Адрес</h3>
      <p>г. Кропоткин ул. Дугинец 10а</p>
    </li>
    <li class="contacts__item contacts__item--2">
      <h3>Телефон</h3>
      <a href="tel:89183650607">+7&nbsp;(918)&nbsp;365&nbsp;06&nbsp;07</a>
    </li>
    <li class="contacts__item">
      <h3>E-mail</h3>
      <a href="mailto:pilatesplus@gmail.com">pilatesplus@gmail.com</a>
    </li>
  </ul>
  <div class="contacts__map">
    <a class="contacts__map-link" href="#">
      <picture>
        <source type="image/webp" media="(max-width: 763px)" srcset="img/bg-map-sm.webp">
        <source type="image/webp" media="(max-width: 1365px)" srcset="img/bg-map-md.webp">
        <source type="image/webp" srcset="img/bg-map-lg.webp">
        <source media="(max-width: 763px)" srcset="img/bg-map-sm.png">
        <source media="(max-width: 1365px)" srcset="img/bg-map-md.png">
        <img src="img/bg-map-lg.png" alt="карта">
      </picture>
    </a>
    <iframe class="contacts__map-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.8070551314977!2d40.5681312154633!3d45.43339064352001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40fa466caee8345f%3A0x35b75298f6d78e58!2z0YPQuy4g0JTRg9Cz0LjQvdC10YYsIDEw0LAsINCa0YDQvtC_0L7RgtC60LjQvSwg0JrRgNCw0YHQvdC-0LTQsNGA0YHQutC40Lkg0LrRgNCw0LksIDM1MjM4MA!5e0!3m2!1sru!2sru!4v1581274159826!5m2!1sru!2sru" width="100%" height="100%" style="border:0;"></iframe>
  </div>
</section>
