<section class="description">
  <div class="description__inner">
    <h2>О пилатесе</h2>
    <div class="description__text-block">
      <p class="description__text-1">Пилатес соединяет элементы растяжки с элементами силовой тренировки</p>
      <p class="description__text-2">Комплекс упражнений укрепляет мышцы пресса и спины, улучшает гибкость мышц и связок, подвижность суставов<br>и избавляет от дискомфорта<br>в позвоночнике</p>
    </div>
    <a class="btn description__link" href="#">Подробнее</a>
    <div class="description__img-wrap">
      <picture>
        <source type="image/webp" media="(max-width: 763px)" srcset="img/img-description-sm.webp">
        <source type="image/webp" media="(max-width: 1365px)" srcset="img/img-description-md.webp">
        <source type="image/webp" srcset="img/img-description-lg.webp">
        <source media="(max-width: 763px)" srcset="img/img-description-sm.png">
        <source media="(max-width: 1365px)" srcset="img/img-description-md.png">
        <img src="img/img-description-lg.png" alt="О пилатесе">
      </picture>
    </div>
  </div>
  <div class="description__wrap-number number">
    <span class="number-active">02</span>
    <span class="number__item"></span>
    <span class="number__item"></span>
    <span class="number__item"></span>
    <span class="number__item"></span>
    <span class="number__item"></span>
  </div>
</section>
