<section class="footer-bottom">
  <h2 class="visually-hidden">Мы в соц.сетях</h2>
  <p>Pilates Plus, 2017<span>©</span></p>
  <a class="footer-bottom__logo">
    <picture>
      <source type="image/webp" media="(max-width: 763px)" srcset="img/logo-bottom-sm.webp">
      <source type="image/webp" media="(max-width: 1365px)" srcset="img/logo-bottom-md.webp">
      <source type="image/webp" srcset="img/logo.webp">
      <source media="(max-width: 763px)" srcset="img/logo-bottom-sm.png">
      <source media="(max-width: 1365px)" srcset="img/logo-bottom-md.png">
      <img src="img/logo.png" alt="Pilates">
    </picture>
  </a>
  <ul class="list-reset social__wrap social">
    <li>
      <a class="social__link social__link--vk" target="_blank" title="Вконтакте" href="#">
        <span class="visually-hidden">Мы в контакте</span>
        <svg width="23" height="23">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="social__link social__link--fb" target="_blank" title="Фейсбук" href="#">
        <span class="visually-hidden">Мы в фейсбуке</span>
        <svg width="23" height="23">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="social__link social__link--in" target="_blank" title="Инстаррам" href="#">
        <span class="visually-hidden">Мы в инстаграмме</span>
        <svg width="23" height="23">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
