<header class="main-header">
  <div class="main-header__inner">
    <div class="main-header__navigation">
      <div class="main-header__logo">
        <picture>
          <source media="(max-width: 763px)" srcset="img/logo-sm.png">
          <source media="(max-width: 1365px)" srcset="img/logo-md.png">
          <img src="img/logo.png" alt="Pilates">
        </picture>
      </div>
      <button class="main-header__toggler burger" aria-label="Показать главное меню" title="Открыть">
        <span>Показать главное меню</span>
      </button>
      <nav class="main-header__main-nav main-nav">
        <button class="close" type="button" aria-label="Закрыть" title="Закрыть">
          <span>Скрыть главное меню</span>
        </button>
        <ul class="list-reset main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">О пилатесе</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Расписание и стоимость</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Как проходят занятия</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Отзывы</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>
      <a class="main-header__link-phone" href="tel:89183650707">+7&nbsp;918&nbsp;365&nbsp;07&nbsp;07</a>
    </div>
    <div class="intro">
      <div class="intro__inner">
        <div class="intro__description">
          <h1>Студия пилатеса</h1>
          <p>Tвое здоровое тело через 10 занятий</p>
          <a class="btn btn-link" href="#">Смотреть расписание</a>
        </div>
        <div class="intro__img">
          <picture>
            <source media="(max-width: 763px)" srcset="img/bg-intro-sm.png">
            <source media="(max-width: 1365px)" srcset="img/bg-intro-md.png">
            <img src="img/bg-intro-lg.png" alt="Пилатес">
          </picture>
        </div>
        <div class="intro__wrap-number number">
          <span class="number-active">01</span>
          <span class="number__item"></span>
          <span class="number__item"></span>
          <span class="number__item"></span>
          <span class="number__item"></span>
          <span class="number__item"></span>
        </div>
      </div>
    </div>
  </div>
</header>
