<section class="presentation">
  <div class="presentation__title-wrap">
    <h2>Как проходят занятия</h2>
  </div>
  <ul class="list-reset presentation__list">
    <li class="presentation__item presentation__item--breath">
      <div class="presentation__text-block">
        <h3>Дыхательные техники</h3>
        <div class="presentation__img-wrap presentation__img-breath">
          <picture>
            <source media="(max-width: 763px)" srcset="img/img-presentation-breath-sm.png">
            <source media="(max-width: 1365px)" srcset="img/img-presentation-breath-md.png">
            <img src="img/img-presentation-breath-lg.png" alt="Дыхательные техники">
          </picture>
        </div>
        <p>Специальные дыхательные упражнения помогут сконцентрировать внимание<br>и сфокусировать сознание<br>на мышцах тела</p>
      </div>
    </li>
    <li class="presentation__item presentation__item--warmup">
      <div class="presentation__text-block presentation__text-block--warmup">
        <h3>Разминка</h3>
        <div class="presentation__img-wrap presentation__img-warmup">
          <picture>
            <source media="(max-width: 763px)" srcset="img/img-presentation-warmup-sm.png">
            <source media="(max-width: 1365px)" srcset="img/img-presentation-warmup-md.png">
            <img src="img/img-presentation-warmup-lg.png" alt="Разминка">
          </picture>
        </div>
        <p>Перед началом занятия разогреваем тело: проработываем мышцы спины, шеи, выполняем упражнения на баланс под спокойную музыку</p>
      </div>
    </li>
    <li class="presentation__item presentation__item--main">
      <div class="presentation__text-block presentation__text-block--main">
        <h3>Основной блок</h3>
        <div class="presentation__img-wrap presentation__img-main">
          <picture>
            <source media="(max-width: 763px)" srcset="img/img-presentation-main-sm.png">
            <source media="(max-width: 1365px)" srcset="img/img-presentation-main-md.png">
            <img src="img/img-presentation-main-lg.png" alt="Основной блок">
          </picture>
        </div>
        <p>Упражнения выполняются лежа на коврике без оборудования или с малым оборудованием, в медленном темпе</p>
      </div>
    </li>
    <li class="presentation__item presentation__item--stretching">
      <div class="presentation__text-block presentation__text-block--stretching">
        <h3 class="presentation__title">Стрейчинг</h3>
        <div class="presentation__img-wrap presentation__img-stretching">
          <picture>
            <source media="(max-width: 763px)" srcset="img/img-presentation-stretching-sm.png">
            <source media="(max-width: 1365px)" srcset="img/img-presentation-stretching-md.png">
            <img src="img/img-presentation-stretching-lg.png" alt="Стрейчинг">
          </picture>
        </div>
        <p>В конце занятия выполняем специальные упражнения для развития гибкости, снятия усталости, стресса и мышечного напряжения</p>
      </div>
    </li>
  </ul>
</section>
