<section class="reviews">
  <h2>Отзывы</h2>
  <div class="reviews__slider">
    <div class="swiper-container">
      <ul class="list-reset reviews__list swiper-wrapper">
        <li class="reviews__item swiper-slide">
          <article class="comment">
            <h3 class="visually-hidden">Отзыв Вероника Кулешова</h3>
            <div class="comment__inner">
              <div class="comment__avatar-wrap">
                <picture>
                  <source media="(max-width: 1365px)" srcset="img/img-slider1-md.png">
                  <img src="img/img-slider1.png" alt="Вероника Кулешова">
                </picture>
              </div>
              <div class="comment__description comment__description--1">
                <b class="comment__author">Вероника Кулешова</b>
                <div class="comment__row">
                  <span class="comment__text">25 лет</span>
                  <ul class="list-reset social__wrap social">
                    <li class="social__item">
                      <a class="social__link social__link--vk" target="_blank" title="Вконтакте" href="#">
                        <span class="visually-hidden">Мы в контакте</span>
                        <svg width="25" height="14">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social__item">
                      <a class="social__link social__link--in" target="_blank" title="Инстаррам" href="#">
                        <span class="visually-hidden">Мы в инстаграмме</span>
                        <svg width="17" height="17">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="comment__body">
                  <p>Хожу на пилатес уже пять месяцев.<br>После десяти занятий уже увидела результат: тело подтянулось, улучшилась осанка, появился пресс.<br><span class="comment__body-text">И самое главное, пропал сильный изгиб поясничного отдела, который меня очень беспокоил.</span></p>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="reviews__item swiper-slide">
          <article class="comment">
            <h3 class="visually-hidden">Отзыв Елизавета Смирнова</h3>
            <div class="comment__inner">
              <div class="comment__avatar-wrap">
                <picture>
                  <source media="(max-width: 1365px)" srcset="img/img-slider2-md.png">
                  <img src="img/img-slider2.png" alt="Вероника Кулешова">
                </picture>
              </div>
              <div class="comment__description">
                <b class="comment__author">Елизавета Смирнова</b>
                <div class="comment__row">
                  <span class="comment__text">29 лет</span>
                  <ul class="list-reset social__wrap social">
                    <li class="social__item">
                      <a class="social__link social__link--vk" target="_blank" title="Вконтакте" href="#">
                        <span class="visually-hidden">Мы в контакте</span>
                        <svg width="25" height="14">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social__item">
                      <a class="social__link social__link--in" target="_blank" title="Инстаррам" href="#">
                        <span class="visually-hidden">Мы в инстаграмме</span>
                        <svg width="17" height="17">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="comment__body">
                  <p>Очень нравятся занятия, хожу уже пять месяцев. На занятиях делаем много упражнений на пресс, бедра и спину. Мышци подтянулись, появился рельеф и хорошее настроение :)</p>
                </div>
              </div>
            </div>
          </article>
        </li>
        <li class="reviews__item swiper-slide">
          <article class="comment">
            <h3 class="visually-hidden">Отзыв Кристина Егорова</h3>
            <div class="comment__inner">
              <div class="comment__avatar-wrap">
                <picture>
                  <source media="(max-width: 1365px)" srcset="img/img-slider3-md.png">
                  <img src="img/img-slider3.png" alt="Вероника Кулешова">
                </picture>
              </div>
              <div class="comment__description">
                <b class="comment__author">Кристина Егорова</b>
                <div class="comment__row">
                  <span class="comment__text">23 лет</span>
                  <ul class="list-reset social__wrap social">
                    <li class="social__item">
                      <a class="social__link social__link--vk" target="_blank" title="Вконтакте" href="#">
                        <span class="visually-hidden">Мы в контакте</span>
                        <svg width="25" height="14">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#vk"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social__item">
                      <a class="social__link social__link--in" target="_blank" title="Инстаррам" href="#">
                        <span class="visually-hidden">Мы в инстаграмме</span>
                        <svg width="17" height="17">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#insta"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="comment__body">
                  <p>Рекомендую заниматься всем! У меня сколиоз и спина часто болит после рабочего дня. После занятий появилась лекость в мышцах и свобода движений. Приходите!</p>
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
  <div class="reviews__slider-toggles slider-toggles">
    <button class="btn slider-toggles__btn slider-toggles__btn--prev" type="button" aria-label="Next slide">Вперёд</button>
    <button class="btn slider-toggles__btn slider-toggles__btn--next" type="button" aria-label="Previous slide">Назад</button>
  </div>
  <div class="reviews__slider-pagination swiper-pagination"></div>
  <div class="reviews__wrap-number number">
    <span class="number-active">05</span>
    <span class="number__item"></span>
    <span class="number__item"></span>
    <span class="number__item"></span>
    <span class="number__item"></span>
    <span class="number__item"></span>
  </div>
</section>
