<section class="schedule" id="schedule">
  <div class="schedule__inner">
    <h2>Расписание и стоимость</h2>
    <ul class="list-reset schedule__list">
      <li class="schedule__item">
        <div class="card card--1">
          <span>Уровень</span>
          <h3>Новичок</h3>
          <p>150&nbsp;руб.&nbsp;/&nbsp;занятие</p>
          <table class="card__table">
            <tr>
              <td>Пн</td>
              <td>9:00 — 10:00</td>
            </tr>
            <tr>
              <td>Ср</td>
              <td>9:00 — 10:00</td>
            </tr>
            <tr>
              <td>Пт</td>
              <td>9:00 — 10:00</td>
            </tr>
          </table>
          <div class="card__number">01</div>
          <a class="btn btn-link btn-link--card" href="#">Записаться</a>
        </div>
      </li>
      <li class="schedule__item">
        <div class="card card--2">
          <span>Уровень</span>
          <h3>Профи</h3>
          <p>200&nbsp;руб.&nbsp;/&nbsp;занятие</p>
          <table class="card__table">
            <tr>
              <td>Пн</td>
              <td>18:15 — 19:45</td>
            </tr>
            <tr>
              <td>Ср</td>
              <td>18:15 — 19:45</td>
            </tr>
            <tr>
              <td>Пт</td>
              <td>18:15 — 19:45</td>
            </tr>
          </table>
          <div class="card__number card__number--2">02</div>
          <a class="btn btn-link btn-link--card" href="#">Записаться</a>
        </div>
      </li>
      <li class="schedule__item">
        <div class="card">
          <span>Уровень</span>
          <h3>Мастер</h3>
          <p>350&nbsp;руб.&nbsp;/&nbsp;занятие</p>
          <table class="card__table">
            <tr>
              <td>Пн</td>
              <td>20:00 — 21:30</td>
            </tr>
            <tr>
              <td>Ср</td>
              <td>20:00 — 21:30</td>
            </tr>
            <tr>
              <td>Пт</td>
              <td>20:00 — 21:30</td>
            </tr>
          </table>
          <div class="card__number card__number--3">03</div>
          <a class="btn btn-link btn-link--card" href="#">Записаться</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="schedule__wrap-number number">
    <span class="number-active">03</span>
    <span class="number__item"></span>
    <span class="number__item"></span>
    <span class="number__item"></span>
    <span class="number__item"></span>
    <span class="number__item"></span>
  </div>
</section>
