// Базовая типографика

$font-family: "roboto", "Arial", sans-serif;
$font-size:                   16px;
$line-height:                 24px;


// Семантические цвета

$black:                       #000000;
$white:                       #ffffff;
$green:                       #91aa59;
$dark-green:                  #2a4f37;


// Ширины

$screen-sm:                   763px;
$screen-md:                   1365px;
$screen-lg:                   1366px;


// Ретина

$retina-dpi:                  144dpi;
$retina-dppx:                 1.5dppx;
